@font-face {
  src: url(../fonts/KohinoorBangla.ttc);
  font-family: KohinoorBangla;
}

@font-face {
  src: url(../fonts/SpaceGrotesk-Medium.ttf);
  font-family:space;
}



body
{
background: white;
font-family: KohinoorBangla, space, Arial;
font-size: 12px;
}

a, a:hover
{
 text-decoration: none;
}

a:hover
{
  color: yellow;
}

p
{
  font-size: 16px;
}


.mainbox
{
/*border: 2px dashed black;*/
}


.index
{
font-size: 20px;
font-family: space;
color: black;
}


.content-home
{
margin-top: 10%;
width: 600px;
}
.content-home > p
{
font-size: 20px
}


.img_index_foot
{
    z-index: -1;
    position: relative;
    top: -11%;
    width: 300px;
}

.body
{
margin-top: 30px;
font-size: 15px;
}

.icons {
width: 400px;
}


#iconlist {
  font-size: 0;
  width: 1272px;
  margin: 0 auto;
}

#iconlist a {
  /*margin: 4px;
  border: 8px solid transparent;
  display: inline-block;8*/
  opacity: .5;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#iconlist a:hover {
  border-color: white;
  opacity: 1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
